
.vs/BodyBuildingApp/v17/.suo
obj/BodyBuildingApp.csproj.nuget.dgspec.json
obj/BodyBuildingApp.csproj.nuget.g.props
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/BodyBuildingApp.assets.cache
obj/Debug/net5.0/BodyBuildingApp.csproj.AssemblyReference.cache
obj/Debug/net5.0/BodyBuildingApp.GeneratedMSBuildEditorConfig.editorconfig
obj/project.assets.json
obj/project.nuget.cache
