
.vs/BodyBuildingApp/v17/.suo
obj/BodyBuildingApp.csproj.nuget.dgspec.json
obj/BodyBuildingApp.csproj.nuget.g.props
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/BodyBuildingApp.assets.cache
obj/Debug/net5.0/BodyBuildingApp.csproj.AssemblyReference.cache
obj/Debug/net5.0/BodyBuildingApp.GeneratedMSBuildEditorConfig.editorconfig
obj/project.assets.json
obj/project.nuget.cache
.vs/BodyBuildingApp/FileContentIndex/034be94a-18e4-4db2-9770-94136a958a28.vsidx
.vs/BodyBuildingApp/FileContentIndex/30368b59-931d-4aa4-9255-a475a4e34742.vsidx
.vs/BodyBuildingApp/FileContentIndex/378308df-25ab-4e1b-9278-d8d641637641.vsidx
.vs/BodyBuildingApp/FileContentIndex/42280223-3fbe-4b88-8efe-588db8b6685a.vsidx
.vs/BodyBuildingApp/FileContentIndex/47cf9717-4479-4679-9840-ed9ef0eb7ec1.vsidx
.vs/BodyBuildingApp/FileContentIndex/4c3a890f-a067-4af3-aa4d-717c95614db4.vsidx
.vs/BodyBuildingApp/FileContentIndex/4d939b0e-072d-41f1-9f75-051d0be0b56a.vsidx
obj/BodyBuildingApp.csproj.nuget.dgspec.json
obj/BodyBuildingApp.csproj.nuget.g.props
obj/Debug/net5.0/BodyBuildingApp.assets.cache
obj/Debug/net5.0/BodyBuildingApp.csproj.AssemblyReference.cache
obj/Debug/net5.0/BodyBuildingApp.GeneratedMSBuildEditorConfig.editorconfig
obj/project.assets.json
obj/project.nuget.cache
