.navbar__section button {
    background-color: black;
    color: white;
    height: 100%;
    width: auto;
    text-transform: uppercase;
    
  }
  
  .navbar__section button:hover {
    background-color: gray;
  }